<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.work_liuchanxu"
        tools:targetApi="31">
        <activity android:name=".work_0429.Main0428Activity_optimized"
            android:exported="false"/>
        <activity android:name=".work_0429.Main0429Activity"
            android:exported="false"/>
        <activity
            android:name=".work_0428.Main0428Activity_2"
            android:exported="false" />
        <activity
            android:name=".work_0428.Main0428Activity_1"
            android:exported="false" />
        <activity
            android:name=".work_0427.Main0427Activity"
            android:exported="false" />
        <activity
            android:name=".work_0426.AnimationActivity_2"
            android:exported="false" />
        <activity
            android:name=".work_0426.Main0426Activity"
            android:exported="false" />
        <activity
            android:name=".work_0426.AnimationActivity_1"
            android:exported="false" />
        <activity
            android:name=".work_0425.ShowImageActivity0425"
            android:exported="false" />
        <activity
            android:name=".work_0425.ShowTextActivity0425"
            android:exported="false" />
        <activity
            android:name=".work_0425.Main0425Activity"
            android:exported="false" />
        <activity
            android:name=".work_0424.Main0424Activity"
            android:exported="true" />
        <activity
            android:name=".TrueMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".work_0423.RecycleActivity"
            android:exported="true" />
        <activity
            android:name=".work_0422.Main0422Activity"
            android:exported="true" />

        <service
            android:name=".work_0421.RemoteService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />

        <receiver
            android:name=".work_0421.NativeReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".work_0421.StaticReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.work_liuchangxu.Static_Action" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".work_0421.ServiceActivity"
            android:exported="false" />

        <service
            android:name=".work_0421.bindService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".work_0421.startService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".work_0421.SingleInstanceActivity"
            android:exported="false"
            android:launchMode="singleInstance" />
        <activity
            android:name=".work_0421.SingleTaskActivity"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".work_0421.SingleTopActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".work_0421.StandardActivity"
            android:exported="false"
            android:launchMode="standard" />
        <activity
            android:name=".work_0421.Work0421MainActivity"
            android:exported="true" />
    </application>

</manifest>